/**
 * Plugin Name: DevOps Tools
 * Description: Styles applied only to logged in users (FRONT-END)
 * Plugin URI: https://github.com/Raruto/wp-devops
 * GitHub Plugin URI: https://github.com/Raruto/wp-devops
 * Text Domain: wp-devops
 * Author: Raruto
 * Author URI: https://github.com/Raruto
 *
 * Version: 0.0.1
 */

/* .logged-in #wpadminbar       { opacity:0; transition: opacity 2s ease-out; } */
/* .logged-in #wpadminbar:hover { opacity: 1; transition: opacity 0.5s ease-in; } */
/* html.js                      { margin-top: 0 !important; }  */
